@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Manrope:wght@300&display=swap");
*,
*:before,
*:after {
    box-sizing: border-box;
}

p {
    letter-spacing: 0.1ch;
    font-family: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    margin: 0;
    padding: 0;
    background-color: #ecf0f9;
    background-attachment: fixed;
}

.content {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
}

.heading {
    width: 100%;
    margin-left: 1rem;
    font-weight: 900;
    font-size: 1.618rem;
    text-transform: uppercase;
    letter-spacing: 0.1ch;
    line-height: 1;
    padding-bottom: 0.5em;
    margin-bottom: 1rem;
    position: relative;
}

.heading:after {
    display: block;
    content: "";
    position: absolute;
    width: 120px;
    height: 4px;
    background: linear-gradient(135deg, #1a9be6, #ea5a0f);
    bottom: 0;
}

.description {
    width: 100%;
    margin-top: 0;
    margin-left: 1rem;
    margin-bottom: 3rem;
}

.card {
    color: inherit;
    cursor: pointer;
    width: calc(33% - 2rem);
    min-width: calc(33% - 2rem);
    height: 400px;
    min-height: 400px;
    perspective: 1000px;
    margin: 1rem;
    position: relative;
}

.back p {
    backdrop-filter: none;
    font-weight: bold;
    font-size: 19px;
    color: white;
    
}

@media screen and (max-width: 1000px) {
    .card {
        width: calc(50% - 2rem);
    }
    .back p {
        font-size: 14px;
    }
}

@media screen and (max-width: 912px) {
    .card {
        width: calc(50% - 2rem);
    }
    .back p {
        font-size: 22px;
    }
}

@media screen and (max-width: 550px) {
    .card {
        width: 100%;
    }
    .back p {
        font-size: 22px;
    }
}

@media screen and (max-width: 412px) {
    .card {
        width: 100%;
    }
    .back p {
        font-size: 20px;
    }
}

@media screen and (max-width: 375px) {
    .card {
        width: 100%;
    }
    .back p {
        font-size: 18px;
    }
}

@media screen and (max-width: 280px) {
    .card {
        width: 100%;
    }
    .back p {
        font-size: 16px;
    }
}

.front,
.back {
    display: flex;
    border-radius: 6px;
    background-position: center;
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: ease-in-out 600ms;
    
}

.card:hover .front {
    transform: rotateY(180deg);
}

.card:nth-child(even):hover .front {
    transform: rotateY(-180deg);
}

.back {
    transform: rotateY(180deg);
    padding: 0 2em;
}

.back:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    filter: brightness(0.7);
}

.card:hover .back {
    transform: rotateY(0deg);
}

.card:nth-child(even) .back {
    transform: rotateY(180deg);
}

.card:nth-child(even):hover .back {
    transform: rotateY(0deg);
}
