.widget-container {
    display: flex;
    justify-content: center;
    /* Center the content horizontally */
    align-items: center;
    /* Center the content vertically if needed */
    width: 100% !important;
    /* Takes up the available width */
}